:local {
  .infinite-table {
    position: relative;
    width: 100%;
  }

  .infinite-hidden {
    border: 0;
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .loading {
    display: block;
    position: relative;
    width: 100%;
  }

  div.hidden-header,
  thead.hidden-header,
  tr.hidden-header,
  th.hidden-header {
    height: 0;
    line-height: 0;
    margin: 0;
    border: 0;
    padding: 0;
    overflow-y: hidden;
    min-height: 0;
  }
}


